:root {
  --dark-gray: #888888;
  --gray: #c1c1c1;
  --white: #FFFFFF;
  --light-gray: #A6A6A6;
  --black: #000000;
  --dark-gray: #283136;
  --another-gray: #E1E1E1;
  --red: #FB565A;
  --green: #00CA74;
  --yellow: #EFC849;
  --mini-gray: #EEEEEE;
  --text-gray: #666666;
  --catalog-gray: #4D4D4D;
  --catalog-another-gray: #C4C4C4;
  --pagination-gray: #DBDBDB;
  --catalog-line-gray: #D7DCDF;
  --border-gray: #F2F2F2;
  --medium-yellow: #EAB534;
  --dark-yellow: #E5A722;
  --medium-green: #00BC6C;
  --dark-green: #00AA62;
  --medium-red: #E74246;
  --dark-red: #D7373B;
  --styleguide-gray: #b4b9bb;
  --button-gray: #d5d5d5;
  --little-gray: #D7DCDE;
  --black-01: rgba(0, 0, 0, 0.1);
  --black-03:  rgba(0, 0, 0, 0.3)
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--white);
}

.services-img,
.advantages-img,
.our-clients-list-img,
.products-img {
  max-width: 100%;
  height: auto;
}

.advantages-text,
.advantages-subtext,
.services-text,
.about-us-text,
.inner-text,
.inner-subtext,
.social-text,
.social-subtext,
.inner-text,
.inner-subtext,
.services-title,
.about-us-title,
.sort-text,
.products-text,
.products-subtext {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*----INDEX----*/

.advantages-list,
.services-list,
.about-us-list,
.about-us-stats,
.our-clients-list,
.social-list,
.products-list,
.pagination-list,
.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link,
.nav-link-basket {
  color: var(--black);
  font-weight: 500;
  line-height: 30px;
}

.advantages-text {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.advantages-subtext {
  line-height: 24px;
  color: var(--dark-gray);
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 17px 40px 15px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.about-us-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-us-subtext {
  font-weight: 700;
}

.about-us-text-bold {
  font-weight: 700;
  text-align: center;
}

.list-right-number {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.list-right-text,
.inner-subtext {
  line-height: 18px;
}

.inner-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.inner-phone-link {
  color:var(--text-gray);
  line-height: 18px;
}

.social-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.social-subtext {
  line-height: 22px;
}


/*----Catalog----*/
 .main-page-title {
   font-size: 55px;
   line-height: 55px;
 }

 .legend,
 .sort-text {
   font-size: 18px;
   font-weight: 700;
   line-height: 30px;
 }

 .sort-list-link {
   font-size: 14px;
   line-height: 18px;
   opacity: .3;
   text-transform: uppercase;
 }

 .input-text {
   font-size: 16px;
   line-height: 20px;
   color: var(--dark-gray);
 }

 .products-text {
   font-size: 18px;
   font-weight: 700;
   line-height: 30px;
   text-align: center;
 }

 .products-subtext {
   line-height: 18px;
   color: var(--text-gray);
   text-align: center;
 }

 .pagination-link {
   font-size: 16px;
   font-weight: 500;
   line-height: 18px;
   color: var(--black)
 }
