:root {
  --dark-gray: #888888;
  --gray: #c1c1c1;
  --white: #FFFFFF;
  --light-gray: #A6A6A6;
  --black: #000000;
  --dark-gray: #283136;
  --another-gray: #E1E1E1;
  --red: #FB565A;
  --green: #00CA74;
  --yellow: #EFC849;
  --mini-gray: #EEEEEE;
  --text-gray: #666666;
  --catalog-gray: #4D4D4D;
  --catalog-another-gray: #C4C4C4;
  --pagination-gray: #DBDBDB;
  --pagination-hover-gray: #DFDFDF;
  --catalog-line-gray: #D7DCDF;
  --border-gray: #F2F2F2;
  --medium-yellow: #EAB534;
  --dark-yellow: #E5A722;
  --medium-green: #00BC6C;
  --dark-green: #00AA62;
  --medium-red: #E74246;
  --dark-red: #D7373B;
  --styleguide-gray: #b4b9bb;
  --button-gray: #d5d5d5;
  --little-gray: #D7DCDE;
  --range-btn-gray: #ababab;
  --arrow-dark: #231F20;
  --black-01: rgba(0, 0, 0, 0.1);
  --black-03:  rgba(0, 0, 0, 0.3)
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--white);
}

.services-img,
.advantages-img,
.our-clients-list-img,
.products-img {
  max-width: 100%;
  height: auto;
}

.advantages-text,
.advantages-subtext,
.services-text,
.about-us-text,
.inner-text,
.inner-subtext,
.social-text,
.social-subtext,
.inner-text,
.inner-subtext,
.services-title,
.about-us-title,
.sort-text,
.products-subtext,
.radio-list {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/*Липкий футер*/
.page {
  height: 100%;
}

.page-body {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr min-content;
}

/*---Header---*/

.header-nav,
.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-link-basket {
  position: relative;
}

.nav-link-basket::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -30px;
  background-image: url(/img/index-img/header-cart.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  z-index: 30;
}

.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 45px;
}

.nav-item-active {
  border-bottom: 2px solid var(--red);
}

.nav-item:nth-child(3) .catalog-nav-link {
  padding-bottom: 13px;
  border-bottom: 2px solid var(--red);
}

.nav-link-logo {
  margin-right: 200px;
}

/*----INDEX----*/

.advantages-list,
.nav-list,
.services-list,
.about-us-list,
.about-us-stats-list,
.our-clients-list,
.social-list,
.products-list,
.pagination-list,
.sort-list,
.radio-list,
.checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item:not(:last-child){
  margin-right: 9px;
}


.social-img-vk {
  width: 26px;
  height: 15px;
}

.social-img-fb {
  width: 12px;
  height: 22px;
}

.social-img-insta {
  width: 21px;
  height: 21px;
}

/*---Конец размеров IMG---*/

.nav-link,
.nav-link-basket {
  color: var(--black);
  font-weight: 500;
  line-height: 30px;
}

.nav-link-basket {
  display: inline-block;
  margin-left: auto;
}

.nav-link:hover,
.nav-link-basket:hover {
  color:var(--red);
}

.nav-link:active,
.nav-link-basket:active {
  color: var(--black);
  opacity: 0.3;
}

.advantages {
  background-color: var(--mini-gray);
}

.advantages-text {
  margin-bottom: 25px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.advantages-subtext {
  margin-bottom: 38px;
  line-height: 24px;
  color: var(--dark-gray);
}

/*--------------------Slider-----*/

.advantages-item-1 {
  width: 100%;
  background-image: url("/img/index-img/nerds-index-slide1-png.png");
  background-position: right;
  background-repeat: no-repeat;
}

.advantages-item {
  padding-top: 78px;
  padding-bottom: 80px;
}

.advantages-item-2 {
  width: 100%;
  background-image: url("/img/index-img/nerds-index-slide2-png.png");
  background-position: right;
  background-repeat: no-repeat;
}

.advantages-item-3 {
  width: 100%;
  background-image: url("/img/index-img/nerds-index-slide3-png.png");
  background-position: right;
  background-repeat: no-repeat;
}

.slide {
  display: none;
}

.advantages-list .slide-current {
  display: block;
}

.slide-wrapper {
  position: relative;
}

.slider-buttons {
  position: absolute; 
  bottom: 100px;
  left: 550px;
}

.slider-button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--white);
  border-radius: 50%;
  border: none;
}

.slider-button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  background-color: var(--white);
  border-radius: 50%;
  border: 4px solid var(--mini-gray);
}

.slider-button:not(:last-child) {
  margin-right: 17px;
}
/*--------------------Slider------*/

.advantages-item-inner {
  width: 570px;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 17px 40px 15px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.advantages-button:hover,
.red-button:hover {
  background-color: var(--medium-red);
}

.advantages-button:active,
.red-button:active {
  background-color: var(--dark-red);
}

.green-button {
  background-color: var(--green);
}
.green-button:hover {
  background-color: var(--medium-green);
}
.green-button:active {
  background-color: var(--dark-green);
}

.yellow-button {
  background-color: var(--yellow);
}
.yellow-button:hover {
  background-color: var(--medium-yellow);
}

.yellow-button:active {
  background-color: var(--dark-yellow);
}

/*---- section SERVICES----*/

.services {
  padding-bottom: 100px;
  padding-top: 80px;
  border-bottom: 2px solid var(--mini-gray);
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.services-title {
  margin: 15px 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.services-text {
  margin-bottom: 16px;
}



/*section -----ABOUT US----*/

.about-us {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 73px;
}

.about-us-stats {
  text-align: right;
  width: 445px;
}

.about-us-stats .about-us-text {
  font-weight: 700;
}

.about-us-item {
  position: relative;
  margin-left: 30px;
}

.about-us-item:not(:last-child) {
  margin-bottom: 25px;
}

.about-us-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  background-color: var(--red);
  width: 25px;
  height: 2px;
}

.about-us-title {
  margin-top: 73px;
  margin-bottom: 32px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-us-subtext {
  margin-bottom: 23px;
  font-weight: 700;
}

.about-us-stats-list {
  display: flex;
  flex-wrap: wrap;
}

.about-us-stats-item {
  width: 135px;
}

.about-us-stats-item span {
  text-align: right;
}

.about-us-text-bold {
  font-weight: 700;
  text-align: center;
}

/*-----Section Our clients-----*/

.our-clients {
  padding-bottom: 80px;
}

.our-clients-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4,1fr);
  border-top: 2px solid var(--mini-gray);
  border-bottom: 2px solid var(--mini-gray);
  padding: 46px 0;
}

.list-right-number {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.our-clients-item {
  position: relative;
  display: flex;
  justify-content: center;

  /* justify-self: center;
  align-self: center; */
}

.our-clients-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--mini-gray);
  width: 2px;
  height: 52px;
}

.our-clients-item:nth-child(4n+1)::before {
  display: none;
}

.list-right-text,
.inner-subtext {
  line-height: 18px;
}

.inner-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 22px;
}

.inner-subtext {
  margin-bottom: 10px;
}

.inner-phone-link {
  display: inline-block;
  color:var(--text-gray);
  line-height: 18px;
  margin-bottom: 37px;
}

.social-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
}

.social-subtext {
  line-height: 22px;
}

.our-clients-list-img {
  opacity: 0.2;
}
.our-clients-list-img:hover {
  opacity: 1;
}
.our-clients-list-img:active {
  opacity: 0.1;
}



/*---Section Footer----*/
.footer-wrapper {
  width: 100%;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 320px;
  background-color: var(--white);
}

.footer-inner {
  padding: 54px 0px 54px;
  background-color: tomato;
  position: relative;
  min-height: 416px;
}


.map-responsive::before {
  content: "";
  position: absolute;
  top: 62px;
  left: 775px;
  background-image: url(/img/index-img/map-logo-nerds.png);
  width: 235px;
  z-index: 20;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.map-responsive iframe{
  left:0;
  top:0;
  height: 416px;
  width:100%;
  position:absolute;
}
/*----*/

.social-block {
  display: flex;
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 63px;
  align-items: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--another-gray);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.social-list-link:hover {
  background-color: var(--medium-red);
}

.social-list-link:active {
  background-color: var(--dark-red);
}

.social-list-link:active .social-list-img {
  opacity: 0.3;
}

.social-list {
  display: flex;
  margin-right: 140px;
  flex-wrap: wrap;
}


/*header*/
.header {
  padding-top: 48px;
  background-color: var(--mini-gray);
}

/*----Catalog----*/
 .main-page-title {
   font-size: 55px;
   line-height: 55px;
   text-align: center;
   margin: 0;
 }

/*---1ая секция Form---*/

 .legend,
 .sort-text {
   font-size: 18px;
   font-weight: 700;
   line-height: 30px;
   margin-bottom: 48px;
 }

 .sort-list-link {
   font-size: 14px;
   line-height: 18px;
   opacity: .3;
   text-transform: uppercase;
   color: var(--black);
 }

 .sort-list-link:hover {
   opacity: .6;
 }

 .sort-list-link:active {
   opacity: 1;
 }

  .sort-item {
    margin-right: 25px;
    padding: 10px 0;
  }

.arrow {
  display: inline-block;
  padding: 10px 0;
}

  .sort-item:last-child {
    margin-right: 0px;
  }

 .input-text {
   font-size: 16px;
   line-height: 20px;
   color: var(--dark-gray);
 }

 .products-text {
   font-size: 18px;
   font-weight: 700;
   line-height: 30px;
   text-align: center;
 }

 .products-subtext {
   line-height: 18px;
   color: var(--text-gray);
   text-align: center;
 }

 .pagination-link {
   font-size: 16px;
   font-weight: 500;
   line-height: 18px;
   color: var(--black)
 }

.pagination-list {
  display: flex;
  margin-top: 72px;
}

/*-- Fieldset Range--*/
.form-group {
  border: none;
  padding: 0;
  margin: 0;
 }

 .range-form {
   margin-bottom: 54px;
 }

 .form-group {
  width: 260px;
}
/*--Стилизация Filter-form--*/

.checkbox {
  margin-bottom: 16px;
}

.form-group-wrapper {
  margin-left: 30px;
}

.form-group-wrapper .form-title {
  margin-bottom: 13px;
}

.form-group-wrapper label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.checkbox-input:checked + .check-img {
  background-image: url(/img/catalog-img/checkbox-on-2.svg);
}

.check-img {
  position: absolute;
  top: 0;
  left: -30px;
  width: 25px;
  height: 25px;
  background-image: url(/img/catalog-img/checkbox-off-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .6;
}

.checkbox:hover .check-img {
  opacity: 1;
}

/*--radio--*/

.radio-input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--catalog-gray);
  opacity: 0.4;
  border-radius: 50%;
}

.radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -22px;
  width: 9px;
  height: 9px;
  background-color: var(--catalog-gray);
  opacity: 0.4;
  border-radius: 50%;
}

.radio-item:hover .radio::after,
.radio-item:hover .radio::before {
  opacity: 1;
}



.radio {
  margin-bottom: 18px;
}

/*--End of filter form--*/

.range-area {
  position: relative;
  height: 80px;
  background-color: var(--mini-gray);
  padding: 39px 31px 39px 24px;
  border-radius: 3px;
  margin-bottom: 14px;
}

.line-progress {
  width: 70%;
  height: 3px;
  background-color: var(--green);
}

.line {
  height: 2px;
  background-color: var(--catalog-line-gray);
  width: 70%;
}

.range {
  position: absolute;
  top: 32px;
  width: 4px;
  height: 4px;
  background-color: var(--range-btn-gray);
  padding: 0;
  border: solid 8px var(--white);
  border-radius: 50%;
}

.btn-range-min {
  left: 30%;
}

.btn-range-max {
  left: 40%;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.form-control {
  width: 80px;
  padding: 10px;
  text-align: center;
  background-color: var(--mini-gray);
  border: none;
  border-radius: 3px;
}

.form-control:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}


/*--End Fieldset Range*/

.form-button {
  width: 260px;
  height: 50px;
  background-color: var(--mini-gray);
  border: none;
  cursor: pointer;
}

 .form-group:nth-child(2) {
   margin-top: 60px;
   margin-bottom: 40px;
 }

 .form-group:nth-child(3) {
   margin-bottom: 47px;
 }

 .products-item {
   position: relative;
 }

.products-item::before {
  content:"";
  display: block;
  position: absolute;
  top: -39px;
  left: 0;
  background: url("/img/catalog-img/top-of-picture.svg") no-repeat center;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.products-item:hover::before {
  opacity: 1;
  transition: 0.5 linear;
}

.product-info {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--mini-gray);
  padding: 26px 44px;
}

.products {
  padding-bottom: 60px;
}

.products-text {
  margin-bottom: 12;
}

.products-text:hover {
  color: var(--red);
}

.products-text:active {
  color: var(--black);
  opacity: .3;
}

.products-subtext {
  margin-bottom: 32px;
}

.product-info .red-button {
  font-weight: 500;
  width: 200px;
  height: 50px;
}

/*--Цвета стрелок--*/

.icon-arrow path {
  fill: var(--light-gray);
  opacity: .2;
}

.icon-arrow:hover path {
  fill: var(--light-gray);
  opacity: 1;
}

.icon-arrow:active {
  fill: var(--arrow-dark);
  opacity: 1;
}
/*--конец цветов стрелок--*/

 /*---Сетка в Catalog---*/

 .catalog-main-page {
   display: grid;
   grid-template-columns: min-content 1fr;
   grid-column-gap: 140px;
   grid-template-rows: min-content 1fr;
   padding-top: 66px;
 }

 .catalog-header {
   padding-bottom: 97px;
 }

.catalog-header .header-nav {
  margin-bottom: 87px;
}

 .form {
   grid-column: 1/2;
   grid-row: 1/-1;
 }

 .sort {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 45px;
  margin-bottom: 32px;
 }

 .products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 44px;
  grid-row-gap: 86px;
 }

 .sort-list {
   display: flex;
   flex-wrap: wrap;
 }

.button-secondary {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.form-title {
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

 .form-title:nth-child(1) .form-title {
   margin-bottom: 40px;
 }

 .form-group:nth-child(2) .form-title {
   margin-bottom: 20px;
 }

 .form-group:nth-child(3) .form-title {
   margin-bottom: 30px;
 }

.pagination-list-item {
  margin-right: 11px;
  border: 1px solid var(--pagination-gray);
  background-color: var(--mini-gray);
}

.pagination-list-item:hover {
  background-color: var(--pagination-hover-gray);
}

.pagination-list-item:active {
  background-color: var(--button-gray);
}

.pagination-list-item:first-child {
  background-color: var(--white);
}

.pagination-link {
  display: inline-block;
  padding: 17px 20px 15px;
}

.pagination-list-item:active .pagination-link {
  opacity: .3;
}

.pagination-list-item:nth-child(4) {
  margin-right: 0;
}
