:root {
  --dark-gray: #888888;
  --gray: #c1c1c1;
  --white: #FFFFFF;
  --light-gray: #A6A6A6;
  --black: #000000;
  --dark-gray: #283136;
  --another-gray: #E1E1E1;
  --red: #FB565A;
  --green: #00CA74;
  --yellow: #EFC849;
  --mini-gray: #EEEEEE;
  --text-gray: #666666;
  --catalog-gray: #4D4D4D;
  --catalog-another-gray: #C4C4C4;
  --pagination-gray: #DBDBDB;
  --pagination-hover-gray: #DFDFDF;
  --catalog-line-gray: #D7DCDF;
  --border-gray: #F2F2F2;
  --medium-yellow: #EAB534;
  --dark-yellow: #E5A722;
  --medium-green: #00BC6C;
  --dark-green: #00AA62;
  --medium-red: #E74246;
  --dark-red: #D7373B;
  --styleguide-gray: #b4b9bb;
  --button-gray: #d5d5d5;
  --little-gray: #D7DCDE;
  --range-btn-gray: #ababab;
  --arrow-dark: #231F20;
  --modal-gray: #444444;
  --black-01: rgba(0, 0, 0, 0.1);
  --black-03:  rgba(0, 0, 0, 0.3);
  --black-04: rgba(0, 0, 0, 0.4);
  --catalog-dark-shadow: rgba(0, 0, 0, 0.15);
  --products-shadow: rgba(0, 0, 0, 0.25);
  --footer-color: rgba(227, 233, 222, 0.918);
  --products-img-border: rgba(196, 196, 196, 1);
  --button-shadow: rgba(0, 1, 1, 0.1);
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

.advantages-text,
.advantages-subtext,
.services-text,
.about-us-text,
.inner-text,
.inner-subtext,
.social-text,
.social-subtext,
.inner-text,
.inner-subtext,
.services-title,
.about-us-title,
.sort-text,
.products-subtext,
.radio-list {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/*Липкий футер*/
.page {
  height: 100%;
}

.page-body {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr min-content;
}

/*---Header---*/

.header-nav,
.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-list {
  padding-top: 5px;
}

.nav-link-basket {
  position: relative;
  text-transform: uppercase;
}

.nav-link-basket::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;
  background-image: url("../img/index-img/header-cart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  z-index: 30;
}

.nav-item {
  padding-top: 1px;
  margin-right: 46px;
}

.nav-item-active {
  border-bottom: 2px solid var(--red);
}

.catalog-nav-link.link-active {
  padding-bottom: 19px;
  border-bottom: 2px solid var(--red);
}

.link-active:hover {
  cursor: auto;
}

.nav-link-logo {
  margin-right: 203px;
}

/*----INDEX----*/

.advantages-list,
.nav-list,
.services-list,
.about-us-list,
.about-us-stats-list,
.our-clients-list,
.social-list,
.products-list,
.pagination-list,
.sort-list,
.radio-list,
.checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item:not(:last-child) {
  margin-right: 9px;
}


.social-img-vk {
  width: 26px;
  height: 15px;
}

.social-img-fb {
  width: 12px;
  height: 22px;
}

.social-img-insta {
  width: 21px;
  height: 21px;
}

/*---Конец размеров IMG---*/

.nav-link,
.nav-link-basket {
  color: var(--black);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.nav-link-basket {
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
}

.nav-link:hover,
.nav-link-basket:hover {
  color:var(--red);
}

.nav-link:active,
.nav-link-basket:active {
  color: var(--black);
  opacity: 0.3;
}

.advantages {
  background-color: var(--mini-gray);
}

.advantages-text {
  margin-bottom: 25px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.advantages-subtext {
  margin-bottom: 38px;
  line-height: 24px;
  color: var(--dark-gray);
}

/*--------------------Slider-----*/

.advantages-item-1 {
  width: 100%;
  background-image: url("../img/index-img/nerds-index-slide1-png.png");
  background-position: right;
  background-repeat: no-repeat;
}

.advantages-item {
  padding-top: 67px;
  padding-bottom: 80px;
}

.advantages-item-2 {
  width: 100%;
  background-image: url("../img/index-img/nerds-index-slide2-png.png");
  background-position: right;
  background-repeat: no-repeat;
}

.advantages-item-3 {
  width: 100%;
  background-image: url("../img/index-img/nerds-index-slide3-png.png");
  background-position: right;
  background-repeat: no-repeat;
}

.advantages-item-2 .advantages-text {
  margin-bottom: 38px;
}

.advantages-item-2 .advantages-subtext {
  margin-bottom: 23px;
}

.advantages-item-3 .advantages-text {
  margin-bottom: 38px;
}

.advantages-item-3 .advantages-subtext {
  margin-bottom: 23px;
}

.advantages-item-3 {
  padding-bottom: 84px;
}

.slide {
  display: none;
}

.advantages-list .slide-current {
  display: block;
}

.slide-wrapper {
  position: relative;
}

.slider-buttons {
  position: absolute;
  bottom: 82px;
  left: 50%;
  transform: translate(-50%,-50%);
}

.slider-button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--white);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.slider-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: var(--white);
  border-radius: 50%;
  border: 2px solid var(--white);
}

.current.slider-button::before {
  border: 2px solid var(--mini-gray);
}

.slider-button:not(:last-child) {
  margin-right: 13px;
}
/*--------------------Slider------*/

.advantages-item-inner {
  width: 570px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 17px 40px 15px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.advantages-button:hover,
.red-button:hover,
.contacts-button:hover,
.button-submit:hover {
  background-color: var(--medium-red);
}

.advantages-button {
  padding: 16px 54px;
}

.advantages-button:active,
.red-button:active,
.contacts-button:active,
.button-submit:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px var(--button-shadow);
}

.green-button {
  background-color: var(--green);
}
.green-button:hover {
  background-color: var(--medium-green);
}
.green-button:active {
  background-color: var(--dark-green);
  box-shadow: inset 0px 3px 0px var(--button-shadow);
}

.yellow-button {
  background-color: var(--yellow);
}
.yellow-button:hover {
  background-color: var(--medium-yellow);
}

.yellow-button:active {
  background-color: var(--dark-yellow);
  box-shadow: inset 0px 3px 0px var(--button-shadow);
}

/*---- section SERVICES----*/
/*---- section SERVICES----*/

.services {
  padding-bottom: 20px;
  padding-top: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-bottom: 81px;
  border-bottom: 2px solid var(--mini-gray);
}

.services-title {
  text-transform: uppercase;
  margin: 16px 0px;
  margin-bottom: 19px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.services-text {
  margin-bottom: 30px;
}



/*section -----ABOUT US----*/

.about-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
}

.about-us-stats {
  text-align: right;
}

.about-us-stats .about-us-text {
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 15px;
}

.about-us-item {
  position: relative;
  padding-left: 35px;
}

.about-us-item:not(:last-child) {
  margin-bottom: 24px;
}

.about-us-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  background-color: var(--red);
  width: 25px;
  height: 2px;
}

.about-us-title {
  margin-top: 55px;
  margin-bottom: 32px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-us-subtext {
  text-transform: uppercase;
  margin: 0;
  margin-top: 43px;
  margin-bottom: 22px;
  font-weight: 700;
}

.about-us-stats-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.about-us-stats-item {
  padding-top: 30px;
  width: 120px;
}

.about-us-text-bold {
  font-weight: 700;
  text-align: center;
}

.about-us-logo-img {
  padding-top: 20px;
  padding-bottom: 31px;
}

/*-----Section Our clients-----*/

.our-clients {
  padding-bottom: 70px;
}

.our-clients-list {
  display: grid;
  align-items: center;
  grid-template-columns: 279px 300px 300px 308px;
  border-top: 2px solid var(--mini-gray);
  row-gap:25px;
  border-bottom: 2px solid var(--mini-gray);
  padding-top: 46px;
  padding-bottom: 38px;
}

.list-right-number {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.list-right-number sup {
  font-size: 26px;
}

.our-clients-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-clients-item::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: var(--mini-gray);
  width: 2px;
  height: 52px;
}

.our-clients-item:nth-child(4n+1)::before {
  display: none;
}

.list-right-text,
.inner-subtext {
  line-height: 18px;
}

.list-right-text {
  display: inline-flex;
  text-align: left;
  padding-top: 12px;
}

.inner-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 22px;
}

.inner-subtext {
  margin-bottom: 19px;
}

.inner-phone-link {
  display: inline-block;
  vertical-align: top;
  color:var(--text-gray);
  line-height: 18px;
  margin-bottom: 37px;
}

.social-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
}

.social-subtext {
  line-height: 22px;
  color: var(--modal-gray)
}

.our-clients-list-img {
  opacity: 0.2;
}
.our-clients-list-img:hover {
  opacity: 1;
}
.our-clients-list-img:active {
  opacity: 0.1;
}

.client-academy {
  padding-right: 10px;
}

/*Modal-window*/

/**/

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  70% {
    transform: translate(-50%, 30px);
  }

  90% {
    transform: translate(-50%, -10px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

/**/

.formfield {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 29px;
  grid-column-gap: 39px;
}

.form-text-area {
  grid-column: 1/3;
  margin-bottom: 42px;
}

.modal-block {
  display: none;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: auto;
  background-color: var(--white);
  z-index:5;
  width: 960px;
  margin: 0 auto;
  box-shadow: 0px 20px 40px var(--black-04);
  padding: 53px 99px 85px 100px;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-window .modal-text {
  position: relative;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 37px;
}

.modal {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 12px;
}

.button-close {
  position: absolute;
  right: 88px;
  top: 79px;
  width:30px;
  height: 30px;
  padding: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;
}

.cross:hover path{
  fill-opacity: 1;
  fill: var(--red);
} 

.cross:active path{
  fill-opacity: .1;
  fill: var(--red);
} 

.modal-name {
  grid-row:2/3;
}

.modal-email {
  grid-row:2/3;
  grid-column: 2/3;
}

.input-name {
  grid-row:3/4;
}

.modal-input {
  width: 100%;
  padding: 16px;
}

.modal-input,
.form-textarea {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--catalog-line-gray);
  opacity: 1;
}

.form-textarea {
  grid-column: 1/-1;
  padding: 16px;
}

.button-submit {
  width: 260px;
  border:none;
}

/*Покой*/
.modal-input::placeholder,
.form-textarea::placeholder {
  color: var(--modal-gray);
  opacity: .5;
}
.modal-input,
.form-textarea {
  border: 0;
}
.modal-window .modal-input{
  border: 2px solid var(--catalog-line-gray);
  border-radius: 3px;
}
.modal-window .form-textarea {
  border: 2px solid var(--catalog-line-gray);
  resize: vertical;
  width: 100%;
}

/*hover*/
.modal-window .modal-input:hover {
  border: 2px solid var(--styleguide-gray);
  border-radius: 3px;
}
.modal-window .form-textarea:hover {
  border: 2px solid var(--styleguide-gray);
  border-radius: 3px;
}

/*Focus*/
.modal-window .modal-input:focus {
  border: 2px solid var(--black);
  border-radius: 3px;
  outline: none;
}
.modal-window .form-textarea:focus {
  border: 2px solid var(--black);
  border-radius: 3px;
  outline: none;
}
.modal-input:focus::placeholder {
  color: var(--modal-gray);
  opacity: 1;
}
.form-textarea:focus::placeholder {
  color: var(--modal-gray);
  opacity: 1;
}

/*Error-name*/
.error-name {
  border: 2px solid var(--medium-red);
  border-radius: 3px;
  opacity: 1;
}
.error-name::placeholder {
  color: var(--medium-red);
  opacity: 1;
}
/*Modal-window*/



/*---Section Footer----*/
.footer .catalog-footer-contacts {
  padding-top: 45px;
}
.footer .catalog-footer-inner::before {
  top: 15%;
  left: 64%;
}

.footer-contacts.main-page-footer-contacts {
  padding-top: 58px;
}

.footer-wrapper {
  width: 100%;
  margin: 0 auto;
}

.footer-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 47px;
  padding-bottom: 52px;
  width: 320px;
  background-color: var(--white);
  z-index: 3;
}

.footer-inner {
  padding: 54px 0px 54px;
  background-image: url("../img/index-img/map-static.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 416px;
}


.footer-inner::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 64%;
  background-image: url("../img/index-img/map-logo-nerds.png");
  width: 235px;
  z-index: 1;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-page-footer-wrapper .footer-inner::before {
  top: 17%;
}

.footer-inner iframe{
  position:absolute;
  z-index: 0;
  left:0;
  top:0;
  height: 100%;
  width:100%;
  border: 0;
}
/*----*/

.social-block {
  display: flex;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 63px;
  align-items: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--another-gray);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.social-list-link:hover {
  background-color: var(--medium-red);
}

.social-list-link:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px var(--button-shadow);
}

.social-list-link:focus {
  outline: none;
  border: 2px solid var(--red);
}

.social-list-link:active .social-list-img {
  opacity: 0.3;
}

.social-list {
  display: flex;
  margin-right: 140px;
  flex-wrap: wrap;
}


/*header*/
.header {
  padding-top: 53px;
  background-color: var(--mini-gray);
}

/*----Catalog----*/
.main-page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

/*---1ая секция Form---*/

.form-title,
.sort-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.sort-list-link {
  font-size: 14px;
  line-height: 18px;
  opacity: .3;
  text-transform: uppercase;
  color: var(--black);
}

.sort-list-link:hover {
  opacity: .6;
}

.sort-list-link:active {
  opacity: 1;
}

.sort-item {
  margin-right: 25px;
}

.arrow {
  display: inline-block;
  vertical-align: top;
}

.arrow-up {
  margin-left: 18px;
}

.sort-item:last-child {
  margin-right: 0px;
}

.arrow-group {
  margin-left: auto;
}

.input-text {
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-gray);
}

.products-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.products-subtext {
  line-height: 18px;
  color: var(--text-gray);
  text-align: center;
  max-height: 70px;
  overflow: auto;
}

.pagination-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--black);
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
}

/*-- Fieldset Range--*/
.form-group {
  border: none;
  padding: 0;
  margin: 0;
}

.range-form {
  margin-bottom: 54px;
}

.form-group {
  width: 260px;
}
/*--Стилизация Filter-form--*/

.checkbox {
  padding-top: 3px;
  padding-left: 35px;
}

.form-group-wrapper .form-title {
  margin-bottom: 13px;
}

.form-group-wrapper label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
}

.checkbox-item {
  margin-bottom: 16px;
}

.checkbox-input:checked + .check-img {
  background-image: url("../img/catalog-img/checkbox-on-2.svg");
}

.check-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/catalog-img/checkbox-off-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .6;
}

.checkbox:hover .check-img {
  opacity: 1;
}

.checkbox-input:focus + .check-img {
  opacity: 1;
}

/*--radio--*/

.form label {
  line-height: 20px;
}

.label-price {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.radio-input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 4px solid var(--catalog-gray);
  opacity: 0.4;
  border-radius: 50%;
}

.radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--catalog-gray);
  opacity: 0.4;
  border-radius: 50%;
}

.radio-item {
  margin-bottom: 18px;
}

.radio-item.radio-fixed {
  margin-bottom: 13px;
}
.radio-item.radio-adaptiv {
  margin-bottom: 16px;
}

.radio-item:hover .radio::after,
.radio-item:hover .radio::before {
  opacity: 1;
}

.radio {
  padding-top: 3px;
  padding-left: 35px;
}


.radio-input:focus + label::before {
  opacity: 1;
}

.radio-input:focus + label::after {
  opacity: 1;
}

/*--End of filter form--*/

.range-area {
  position: relative;
  height: 80px;
  background-color: var(--mini-gray);
  padding: 39px 31px 39px 24px;
  border-radius: 3px;
  margin-bottom: 14px;
}

.line-progress {
  width: 70%;
  height: 2px;
  background-color: var(--green);
}

.line {
  height: 2px;
  background-color: var(--catalog-line-gray);
  width: 100%;
}

.range {
  position: absolute;
  top: 32px;
  width: 16px;
  height: 16px;
  background-color: var(--range-btn-gray);
  padding: 0;
  border: solid 7px var(--white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px var(--catalog-dark-shadow);
}

.btn-range-min {
  left: 7%;
}

.btn-range-max {
  left: 60%;

}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.form-control {
  width: 80px;
  padding: 10px;
  margin-left: 11px;
  text-align: center;
  background-color: var(--mini-gray);
  border: none;
  border-radius: 3px;
}

.form-control.label-for {
  padding-right: 13px;
}

/*--End Fieldset Range*/

.form-button {
  width: 260px;
  height: 50px;
  background-color: var(--mini-gray);
  border: none;
  cursor: pointer;
}

.form-group:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 29px;
}

 .form-group:nth-child(3) {
  margin-bottom: 47px;
 }

.products-item:focus-within .product-info {
  display: block;
}

.products-item {
  display: flex;
  position: relative;
  box-shadow: 0px 6px 15px var(--products-shadow);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--black-01);
}

.products-img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.products-item::before {
  content:"";
  display: block;
  position: absolute;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: -40px;
  left: 0;
  background: url("../img/catalog-img/top-of-picture.svg") no-repeat center;
  width: 100%;
  height: 40px;
  opacity: 0.12;
}

.products-item:hover::before {
  opacity: 1;
}

.products-item:hover .product-info {
  display: block;
}

.product-info a {
  cursor: pointer;
}

.product-info {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 350px;
  overflow: auto;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  background-color: var(--mini-gray);
  padding-bottom: 40px;
  padding-top: 26px;
}


.products-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 12;
  text-transform: uppercase;
}

.products-text .text-link {
  color: var(--black);
}

.products-text:hover .text-link {
  color: var(--red);
}

.products-text:active .text-link{
  color: var(--black);
  opacity: .3;
}

.products-subtext {
  margin-bottom: 32px;
}

.product-info .red-button {
  font-weight: 500;
  width: 200px;
  height: 50px;
}

/*--Цвета стрелок--*/

.icon-arrow path {
  fill: var(--light-gray);
  opacity: .2;
}

.icon-arrow:hover path {
  fill: var(--light-gray);
  opacity: 1;
}

.icon-arrow:active path{
  fill: var(--arrow-dark);
  opacity: 1;
}

.sort-active {
  fill: var(--arrow-dark);
  opacity: 1;
}

.sort-active path{
  fill: var(--arrow-dark);
  opacity: 1;
}
/*--конец цветов стрелок--*/

 /*---Сетка в Catalog---*/

.catalog-main-page {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 140px;
  grid-template-rows: min-content 1fr;
  padding-top: 56px;
  padding-bottom: 60px;
  }

.catalog-header {
  padding-bottom: 107px;
}

.catalog-header .header-nav {
  margin-bottom: 67px;
}

.form {
grid-column: 1/2;
grid-row: 1/-1;
}

.sort {
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 45px;
margin-bottom: 43px;
}

.products-list {
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 44px;
grid-row-gap: 70px;
list-style: none;
margin-bottom: 63px;
}

.sort-list {
display: flex;
flex-wrap: wrap;
}

.button-secondary {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 3px;
  text-transform: uppercase;
}

.button-secondary:hover {
  background-color: var(--pagination-hover-gray);
}

.button-secondary:active {
  opacity: .3;
  box-shadow: inset 0px 3px 0px var(--button-shadow);
}

.form-title {
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

 .form-title:nth-child(1) .form-title {
  margin-bottom: 40px;
 }

.form-group:nth-child(2) .form-title {
  margin-bottom: 12px;
}

.form-group:nth-child(3) .form-title {
  margin-bottom: 30px;
}

.pagination-list-item {
  margin-right: 11px;
  border-radius: 3px;
}

.pagination-link {
  display: block;
  height: 50px;
  padding: 15px 19px;
  cursor: pointer;
  border-radius: 3px;
  background-color: var(--mini-gray);
  text-transform: uppercase;
}

.pagination-list-item a:hover:not(.active-item) {
  background-color: var(--pagination-hover-gray);
}

.pagination-list-item a:active:not(.active-item) {
  background-color: var(--button-gray);
  opacity: .5;
  box-shadow: inset 0px 3px 0px var(--black-01);
}

.active-item {
  background-color: var(--white);
  border: 3px solid var(--pagination-gray);
  cursor: auto;
}

.pagination-list-item:last-child a {
  padding: 16px 78px;
}

.pagination-list-item:nth-child(4) {
  margin-right: 0;
}
